<h3>Photographer Details</h3>

<input type="text" [(ngModel)]="photographerName" placeholder="photographerName"><br>
<input type="text" [(ngModel)]="photographerAddress" placeholder="photographerAddress"><br>
<input type="text" [(ngModel)]="zipcode" placeholder="zipcode"><br>
<input type="text" [(ngModel)]="officeNumber" placeholder="officeNumber"><br>
<input type="text" [(ngModel)]="emailId" placeholder="emailId"><br>
<input type="text" [(ngModel)]="perDayPrice" placeholder="perDayPrice"><br>
<input type="text" [(ngModel)]="samplePhoto" placeholder="samplePhoto"><br>
<input type="text" [(ngModel)]="vendorId" placeholder="vendorId"><br>
<button type="submit" (click)="addPhotographerDetails()">Add Venue Details</button>
<br><br>