<h3>Register Yourself</h3>
.
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">
            <input type="text" class="form-control" [(ngModel)]="fullName" placeholder="fullname"><br>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="password"><br>
            <input type="text" class="form-control" [(ngModel)]="email" placeholder="email"><br>
            <input type="text" class="form-control" [(ngModel)]="mobilenumber" placeholder="mobilenumber"><br>
            <input type="text " class="form-control" [(ngModel)]="gender" placeholder="gender"><br>
            <input type="text" class="form-control" [(ngModel)]="role" placeholder="role"><br>
            <input type="text" class="form-control" [(ngModel)]="category" placeholder="category"><br>
            <input type="text" class="form-control" [(ngModel)]="address" placeholder="address"><br>
            <input type="text" class="form-control" [(ngModel)]="zipcode" placeholder="zipcode"><br>
            <button type="submit" class="btn btn-primary" (click)="add()">Register</button>
            <br><br>

        </div>
    </div>
</div>