<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>




<app-navbar></app-navbar>

<body>


    <div class="container-fluid p-5">
        <div class="row" style="margin-top:15vh">
            <div class="col-md-6">
                <h3>Contact Us</h3>
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Email id">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Contact No">
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="State">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">

                            <button type="submit" class="btn btn-primary">
                      Send Message
                    </button>

                        </div>
                    </div>



                </form>



            </div>
            <div class="col-md-6 address">
                <h5>Call Us</h5>
                <p>Tel: 91-9768139798</p>

                <h5>Mail id</h5>
                <p>bhaviaditya008@gmail.com</p>

                <h5>Working hours</h5>
                <p>24/7</p>

                <h5>Address</h5>
                <p>Mumbai,Maharashtra 401107</p>
            </div>
        </div>

        <section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30128.02954118867!2d72.85902689329146!3d19.282205624460108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0458cf7298b%3A0x468ed839e9df2b21!2sMira%20Road%2C%20Mira%20Bhayandar%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1611457470203!5m2!1sen!2sin"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </section>

    </div>
    <app-footer></app-footer>
</body>