<h3>Pandit Details Form</h3>

<input type="text" [(ngModel)]="panditName" placeholder="panditName"><br>
<input type="text" [(ngModel)]="panditAddress" placeholder="panditAddress"><br>
<input type="text" [(ngModel)]="zipcode" placeholder="zipcode"><br>
<input type="text" [(ngModel)]="officeNumber" placeholder="officeNumber"><br>
<input type="email" [(ngModel)]="emailId" placeholder="emailId"><br>
<input type="text" [(ngModel)]="startingPrice" placeholder="startingPrice"><br>
<input type="text" [(ngModel)]="profilePhoto" placeholder="profilePhoto"><br>
<input type="text" [(ngModel)]="experience" placeholder="experience"><br>
<input type="text" [(ngModel)]="languages" placeholder="languages"><br>
<input type="text" [(ngModel)]="vendorId" placeholder="vendorId"><br>
<button type="submit" (click)="addPanditDetails()">Add Pandit Details</button>
<br><br>