<app-user-navbar></app-user-navbar>
.
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle btn btn-primary btn-xs" data-toggle="dropdown">Locations</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/uservenue']" class="dropdown-item">Mumbai</a>
                    <a href="#" class="dropdown-item">Pune</a>
                    <a href="#" class="dropdown-item">Nashik</a>
                    <a href="#" class="dropdown-item">Sangli</a>
                    <a href="#" class="dropdown-item">Nagpur</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4 mt-5" *ngFor="let venue of venues">
                    <div>
                        Vnue Name : {{venue.venueName}}
                    </div>
                    <div>
                        Venue Type : {{venue.venueType}}
                    </div>
                    <div>
                        Venue Rent per day : {{venue.perDayRent}}
                    </div>
                    <div>
                        Venue Seating Capacity : {{venue.seatingCapacity}}
                    </div>
                    <div>
                        Venue Kitchen : {{venue.kitchenAvailability}}
                    </div>
                    <div>
                        Venue Photos : {{venue.samplePhotos}}
                    </div>
                    <div>
                        Venue Address : {{venue.venueAddress}}
                    </div>
                    <div>
                        Venue Contact Email : {{venue.emailId}}
                    </div>
                    <div>
                        Venue Contact Number : {{venue.officeNumber}}
                    </div>
                    <div class="btn btn-primary">
                        Add to Cart
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>